/* Reset some default browser styles */
body, h1, h2, p, label, input, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Basic styling for the body */
body {
    background:  #fcdf88;
    text-align: center;
}

/* Header styling */
h1 {
    font-size: 36px;
    color: #FF6B6B; /* Pink color */
    text-transform: uppercase;
    margin: 20px 0;
}

/* Converter styling */
.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Decimal and Binary container styling */
.decimal, .binary {
    padding: 20px;
    background-color: #FFFAF0; /* Ivory color */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    flex: 1;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #FF6B6B; /* Pink color */
}

/* Input styling */
input[type="number"] {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #FFD700; /* Yellow color */
    border-radius: 5px;
    font-size: 18px;
    color: #FF6B6B; /* Pink color */
}

/* Button styling */
button {
    background: linear-gradient(45deg, #FFD700, #FF6B6B);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(45deg, #FF6B6B, #FFD700);
}

/* Footer styling */
footer {
    font-size: 14px;
    color: #FF6B6B; /* Pink color */
    text-align: center;
    margin-top: 20px;
}
